<div class="dropdown-menu left-align">
  <button commandfor="account-menu" command="toggle-popover" role="button" aria-label="Account Menu" class="account-menu">
    <%= account_avatar current_account, size: "size-6" %>
    <span class="name"><%= current_account.name %></span>
  </button>

  <nav id="account-menu" popover class="menu-component">
    <ul class="menu-list">
      <li class="menu-section">
        <ul class="menu-sub-list">
          <% Current.other_accounts.each do |account| %>
            <li>
              <%= switch_account_button account, data: { controller: :accounts, action: "ajax:success->accounts#reconnect" } do %>
                <%= account_avatar account, size: "size-6" %>
                <span><%= account.name %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="menu-section">
        <ul class="menu-sub-list">
          <li>
            <%= link_to new_account_path do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
              </svg>
              <%= t(".create_account") %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
